.popup__close{
  max-width: 32px;
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -40px;
  transition:  0.2s ease-out;
  padding: 0;
  border: none;
  background: transparent;
}

.popup__close:hover{
  opacity: 0.6;
}

@media (max-width:600px){
  .popup__close{
    max-width: 20px;
    top: -36px;
    right: 0px;
  }
}
