.footer__text{
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
  padding-bottom: 60px;
}

@media (max-width:690px){
  .footer__text{
    font-size: 14px;
    line-height: 17px;
    padding-left: 19px;
    padding-bottom: 36px;
  }
}
