.elements__like{
  width: 22px;
  height: 19px;
  cursor: pointer;
  transition:  0.2s ease-out;
  padding: 0;
  border: none;
  background: transparent;
  background-image: url(../../../images/like-disabled.svg);
  -webkit-tap-highlight-color: transparent;
}

.elements__like:hover{
  opacity: 0.5;
}
@media (pointer: coarse) {
  .elements__like:hover {
    opacity: 1;
  }
}

