.header{
  box-sizing: border-box;
  max-width: 880px;
  padding: 45px 0 41px 0;
  margin: 0 auto 40px;
  border-bottom: 1px solid rgba(54, 54, 54, 0.7);
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media (max-width:690px){
  .header{
    padding: 28px 27px 32px 27px;
    transition: all .3s ease;
  }
}
